body {
	font-family: arial;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	text-align: center;
}

h1, h3 {
	color: #0B8383;
}

ul {
	padding-inline-start: unset;
}

ul li {
	display: inline-block;
}

ul li a {
	color: #000;
	text-decoration: none;
}

ul li a:hover {
	color: #0B8383;
}

div.form-input {
	border: thin solid #999;
    min-width: 608px;
    max-width: 618px;
    padding: 15px;
    border-radius: 4px;
    margin: 0 auto;
}

input[type="text"] {
	width: 200px;
	height: 28px;
}

select {
	width: 200px;
	height: 34px;
}

button {
	height: 34px;
	cursor: pointer;
}

table {
	width: 600px;
	margin: 0 auto;
	border-collapse: collapse;
}

th, td {
	border: thin solid #999;
	padding: 6px;
}